/* style.css */
#viewport-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#headtracking-ui {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
  font-size: 1rem;
  color: white;
}

#start-headtracking {
  padding: 0.5rem 1rem;
  background-color: #111;
  color: white;
  border: none;
  border-radius: 6px;
}
